.index-container{
  .header-container{
    height: 87px;
    line-height: 87px;
    background-color: rgba(9,8,12,.9);
    .header-pos{
      margin: 0 auto;
      width: 1200px;
      display: flex;
      flex-wrap: nowrap;
      height: 87px;
      .header-logo{
        img{
          width: 300px;
          height: 38px;
          margin: 25px 0;
          border: 1px solid red;
          display: block;
        }
      }
      .header-nav{
        display:  flex;
        flex-wrap: nowrap;
        margin-left: 40px;
        &>li{
          .posRelative{
            margin-top: -1px;
            .submenu{
              .tip1{
                transition-delay: 0s;
                transform: rotateX(0deg);
              }
              .tip2{
                transition-delay: 0.3s;
                transform: rotateX(0deg);
              }
              .tip3{
                transition-delay: 0.6s;
                transform: rotateX(0deg);
              }
              .tip4{

              }
              .tip5{

               }
              .tip6{

              }

              li{
                transform: rotateX(90deg);
                transition: all 0.3s;
                width: 96px;
                height: 42px;
                background-color: #131218;
                border-bottom: 1px solid #3A393D;
                padding: 0;
                display: none;
                a{
                  display: block;
                  width: 96px;
                  height: 42px;
                  line-height: 42px;
                  text-align: center;
                  color: #BFBFBF;
                }
              }
            }
          }
          &>a{
            color: #a2a2a2;
            text-align: center;
            padding: 0 25px;
            font-size: 18px;
            &:hover{
              color: #fff;
            }
          }
        }
      }
      .header-account{
        .header-btn{
          width: 74px;
          line-height: 31px;
          display: inline-block;
          text-align: center;
          border-radius: 15px;
          cursor: pointer;
          margin-right: 11px;
          background-color: #66666e;
          color: #c5c5c8;
          &:hover{
            background-color: #45454F;
          }
        }
      }
    }
  }
}