.container{
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  .banner{
    min-width: 1200px;
    background-image: url("../images/img25.jpg");
    height: 643px;
  }
  .listMain{
    width: 1180px;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    .mainTitle{
      background: url("../images/img26.jpg") center no-repeat;
      height: 90px;
      padding-bottom: 40px;
    }
    ul,li{
      list-style: none;
    }
    .mainBox{
      .subTitle{
        font-size: 20px;
        color: #333;
        font-weight: bold;
      }
      .description{
        font-size: 16px;
        color: #666;
        padding-top: 20px;
        padding-bottom: 10px;
        clear: both;
      }
      .mainBtn{
        padding-top: 50px;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        .new{
          text-align: center;
          //width: 50%!important;
          .mainBtn1{
            background: #5ea1f4;
            min-width: 196px;
            height: 48px;
            border-radius: 3px;
            padding: 0 2px;
            line-height: 48px;

            a{
              color: #fff;
              font-size: 20px;
            }
          }
          .mainBtn2{
            background: #5ea1f4;
            width: 196px;
            height: 48px;
            border-radius: 3px;
            padding: 0 2px;
            margin: 0 auto;
            line-height: 48px;
            a{
              color: #fff;
              font-size: 20px;
            }
          }
          .rightBtn{
            margin-left: 196px;
            right: 0;
          }
        }
      }
      .mainLine{
        background: url("../images/img03.jpg") repeat-x left center;
        height: 100px;
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .footer{
    padding-bottom: 20px;
    .footer-inner{
      margin: 0 auto;
      padding-top: 50px;
      width: 1200px;
      ul{
        list-style: none;
      }
      .footer-nav{
        font-size: 16px;display: flex;
        flex-wrap: nowrap;
        .grid{
          margin-right: 93px;

          .items{
            width: 200px;
            li{
              margin-bottom: 20px;
            }
            img{
              vertical-align: top;
              border: none;
            }
            .gridBox{
              a{
                text-decoration: none;
                cursor: pointer;
                span{
                  line-height: 32px;
                }
              }
            }
            p{
              clear: both;
              padding-top: 65px;
              text-align: center;
              color: #999;
            }
            a{
              margin-left: 9px;
              color: #999;
              text-decoration: none;
            }
            .liHeader{
              height: 40px;
              border-bottom: 2px solid #ccc;
              margin-left: 9px;
              span{
                color: #999;
                font-size: 16px;
              }
            }
            .contactUs{
              bottom: 0;
              div{
                padding-top: 0;
                clear: none;
                text-align: left;
                padding-left: 10px;
                width: 260px;
                display: block;
                float: left;
                color: #999;
                position: relative;
                overflow: hidden;
                span{
                  display: block;
                  float: none;
                  padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
